body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  /* background-color: rgba(85, 84, 83, 0.7); */
  /* background-image: url("../images/background.webp");
  background-repeat: repeat; */
  margin: 0;
  padding: 0;
}
div, h1, h2 {
  padding: 0;
  margin: 0;
  display: block;
}
.header {
  background-image: url("../images/nature-header.jpeg");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.header h1 {
  padding-top: 35px;
  font-size: 3em;
  font-weight: 800;
  color: #00ffff;
}
.header p {
  color: rgb(52, 52, 131);
  text-align: center;
}
hr {
  margin: 0;
}
h2 {
  font-size: 1.8em;
  color: #00ffff;
  padding: 35px 15px;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
}
.effected-word {
  font-style: italic;
  color: #FF4400;
}
ul li, ol li {
  line-height: 1.5em;
}
ul li::first-letter, ol li::first-letter {
  font-family: Georgia;
  font-size: 1.8em;
  line-height: 60px;
  padding: 4px 4px 3px 0;
}
ol li a {
  color: #ff0000;
}
ol > li > ul {
  list-style-type: none;
}
ol>li>ul>li{
  font-size: 0.8em;
}
ol > li > ul > li::first-letter {
  font-size: 0.8em;
  line-height: 1;
  padding: 0;
  font-family: Arial,
    Helvetica,
    sans-serif;
}
ol > li > ul > li:first-child::before {
  content: "Director ";
  color: blue;
}
ol>li>ul>li:nth-child(2)::before {
  content: "Genre ";
  color: blue;
}
ol>li>ul>li:nth-child(3)::before {
  content: "Tagline ";
  color: blue;
}
ol>li>ul>li:nth-child(4)::before {
  content: "Plot Outline ";
  color: blue;
}
ol>li>ul>li>p{
  color: #000;
  margin-left: 30px;
}
.italic {
  font-style: italic;
  margin: 15px;
}
.moods {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.moods div {
  width: 40%;
  margin: 0 10%;
}

.moods span {
  font-size: 1.5em;
  line-height: 2em;
}
.moods div img {
  width: 500px;
}
img.validator {
  width: 200px;
}