body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #424836;
  background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
i {
  cursor: pointer;
}
input {
  width: 80px;
}
.container {
  width: 90%;
  margin: 20px auto;
  border: 2px solid #643838;
  border-radius: 5px;
}
.header {
  height: 140px;
  width: calc(100% - 20px);
  display: flex;
  border-bottom: 2px solid rgb(100, 56, 56);
  padding: 10px;
}
.header a, .header .welcome, .header .status {
  margin: 10px;
}
.header .welcome {
  width: calc(100% - 100px - 100px - 80px);
  font-size: 1.8em;
  text-align: center;
  padding: 30px 30px 0 30px;
  /* border: 1px solid #424836; */
}
.btn {
  margin: 30px auto;
  border: 2px solid cadetblue;
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
  height: 30px;
}
a, a:visited {
  color: cadetblue;
  text-decoration: none;
  font-size: 1.3em;
}
.btn:hover {
  border-color: rgb(19, 127, 19);
}
.btn:hover a, .btn:hover a:hover {
  color: rgb(19, 127, 19);
}
.content {
  width: calc(100% - 30px);
  padding: 10px 15px;
  display: block;
}
.product, .cart {
  margin: 0;
  padding: 0;
}
.product p, .cart p {
  font-size: 1.4em;
  margin: 30px 0 10px;
  text-transform: capitalize;
}
.grid {
  width: 100%;
  border: 1px solid #643838;
}
.grid .row {
  display: flex;
  height: 50px;
  width: 100%;
}
.grid .row .cell {
  flex-wrap: nowrap;
  padding: 10px 15px;
  height: 30px;
  text-align: center;
  border: 1px solid #643838;
}
.cell span {
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  float: left;
}
.cell input {
  height: 20px;
  margin: 4px 9px;
  padding: 0 5px;
  float: left;
}
.control {
  display: block;
  width: 100%;
  height: 100px;
}
.control .btn {
  width: 150px;
  float: right;
  margin-right: 30px;
}
.col4 {
  width: calc(100% / 4 - 30px);
}
.col1 {
  width: 100%;
}
.head {
  font-weight: bold;
}
.number, .right {
  text-align: right !important;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.italic {
  font-style: italic;
  color: red;
  font-size: 0.8em;
}