body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #424836;
}
.page {
  margin: 2px;
  padding: 0;
  width: calc(100% - 6px);
  border: 1px solid #a2cbbc;
  display: flex;
  flex-direction: column;
}
.header {
  height: 40px;
  padding: 10px;
  background-color: #a2cbbc;
  display: flex;
  flex-direction: row;
}
.header .sitename {
  font-size: 1.4em;
  font-weight: bold;
}
.actions {
  list-style: none inside;
  margin: 5px 0 0;
  text-align: center;
  display: block;
  list-style-type: none;
}
.actions li {
  display: block;
  position: relative;
  float: left;
  background: #24af15;
}
.actions li a {
  display: block;
  padding: 0;
  text-decoration: none;
  width: 200px;
  line-height: 35px;
  color: #fff;
}

.actions li:hover {
  background: #3eb589;
}
.actions ul {
  position: absolute;
  padding: 0;
  left: 0;
  display: none;
}
/* .actions li:hover ul ul {
  display: none;
} */
.actions li:hover ul {
  display: block;
}
/* .actions li li:hover ul {
  display: block;
  margin-left: 200px;
  margin-top: -35px;
} */
.container {
  margin: 20px 0 30px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.col2 {
  flex-wrap: nowrap;
  flex: 1;
  padding: 0 10px;
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
}
.col2 + .col2 {
  padding-left: 50px;
}
.notice {
  font-size: 0.8em;
  text-decoration: underline;
}
.row {
  display: flex;
  flex-direction: row;
}
.row > * {
  flex-wrap: nowrap;
  flex: 1;
  margin: 10px 0;
}
.column {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: 0 0 0 -20px;
}
.column > * {
  flex-wrap: nowrap;
  flex: 1;
  margin: 10px 0;
}
label {
  font-weight: bold;
}
input, select {
  height: 25px;
  padding: 2px 5px;
}
textarea {
  padding: 2px 5px;
}
label sup {
  color: red;
}
.column label {
  font-size: 0.8em;
  font-weight: normal;
  margin: -4px 0;
}
.column label input {
  height: 20px;
  margin: 4px 2px;
  padding: 0;
}
.footer {
  height: 40px;
  padding: 10px 0 0;
  text-align: center;
  background-color: #e3e3e3;
  border-top: 1px solid #ddd;
}
.btn {
  height: 30px;
  padding: 5px 15px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-color: #7aa897;
  border: 1px solid #e3e3e3;
}
.btn:hover {
  color: #7aa897;
  background-color: #fff;
  border: 1px solid #7aa897;
}
