<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lab 12: 404 page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/resources/css/style.css" type="text/css">
    <!-- <link rel="stylesheet" href="../assets/css/style.css" type="text/css"/> -->
  </head>
  <body>
    <div class="error404">
      <h1 class="not-found">404</h1>
    </div>
    
    <p class="error">Page not found.</p>
    <div class="container center"><a href="/">Go Home</a></div>
    
    <div class="footer">
      <span class="copyright">&copy; Copyright by Thi Truong</span>
    </div>
  </body>
</html>